body {
    padding: 0px;
    margin: 0px;
    /*background-image: url("./images/b2.jpg");*/
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-color: cyan;
}


#color-overlay {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}




img {
    height: 400px;
    width: 600px;
    margin: 20px;
    border: solid 5px orangered;
}

#btncol {
    background-color: lightblue;
}

#puzz {
    height: 50px;
    margin: 10px;
    width: 400px;
    color: black;
    border: outset 5px grey;
    font-size: 50px;
}

#btn {
    height: 50px;
    width: 40px;
}

#reject,
#sbtn,
#skip {
    margin: 20px;
    height: 50px;
    width: 250px;
    background-color: orangered;
}

#winnerbg {
    background-image: url(./images/winner.jfif);
}


#cup {
    display: flex;
    padding: 100px;
    height: 400px;
    width: 600px;
    border: none;
}

#app {
    position: fixed;
    /*absolute*/
    display: flexbox;
    justify-content: right;
    align-items: center;
}

.base-timer {
    position: relative;
    width: 200px;
    height: 200px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}