body {
  padding: 0px;
  margin: 0px;
  /*background-image: url("./images/b2.jpg");*/
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-color: cyan;
}

#color-overlay {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

#levelContainer {
  display: flex;
  height: 100px;
  width: 100px;
}

#levelContainer img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: 180px 50px;
  border: dotted 10px black;
  background-color: orangered;
}

#levelStyle {
  padding: 50px;
  font-size: 40px;
  text-align: center;
  background-color: orangered;
  margin: 10000px 40px;
  text-decoration: none;
  border: dashed 5px black;
}

/* decorating buttons and text area */

img {
  height: 400px;
  width: 600px;
  margin: 20px;
  border: solid 5px orangered;
}

#btncol {
  background-color: lightblue;
}

#puzz2 {
  height: 50px;
  margin: 10px;
  width: 400px;
  color: black;
  border: outset 5px grey;
  font-size: 40px;
}

#text,
#puzz,
#puzz1,
#puzz3,
#puzz4,
#puzz5 {
  height: 50px;
  margin: 10px;
  width: 400px;
  color: black;
  border: outset 5px grey;
  font-size: 50px;
}

#btnf1,
#btnf2,
#btnf3,
#btnf4,
#btnf5 {
  margin: 20px;
}

#btn,
#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6,
#btn7 {
  height: 50px;
  width: 40px;
}

#skip,
#sbtn,
#sbtn1,
#sbtn2,
#sbtn3,
#sbtn4,
#sbtn5,
#reject,
#reject1,
#reject2,
#reject3,
#reject4,
#reject5 {
  margin: 20px;
  height: 50px;
  width: 250px;
  background-color: orangered;
}

/* ................................timer animation  ..................................*/

#app {
  position: fixed;
  /*absolute*/
  display: flexbox;
  justify-content: right;
  align-items: center;
}

.base-timer {
  position: relative;
  width: 200px;
  height: 200px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}