body {
  padding: 0px;
  margin: 0px;
  background-image: url(./images/backg.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
}

#color-overlay {
  margin: 0;
  padding: 0;
  opacity: 0.8;
  text-align: center;
  color: white;
}

img {
  margin: 140px;
  opacity: 2;
}
