body {
  padding: 0px;
  margin: 0px;
  background-image: url(./images/backg.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
}

#color-overlay {
  margin: 0;
  padding: 0;
  opacity: 0.8;
  text-align: center;
  color: white;
}

#levelStyle {
  padding: 1px;
  font-size: 20px;
  text-align: center;
  background-color: orangered;
  margin: 0;
  text-decoration: none;
}

img {
  margin: 70px;
  opacity: 2;
}

#puzz1,
#puzz2 {
  height: 50px;
  margin: 15px;
  width: 400px;
  color: black;
}

#btnf1,
#btnf2 {
  margin: 20px;
}

#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6,
#btn7,
#btn8,
#btn9,
#btn10,
#btn11,
#btn12,
#btn13,
#btn14,
#btn15 {
  height: 50px;
  width: 40px;
}

#sbtn1,
#sbtn2 {
  height: 50px;
  width: 250px;
  background-color: orangered;
}
